<!DOCTYPE html>
<html>
  <%- include('components/head'); -%>
  <body class="app">
    <div class="login-card">
      <h1><%= title %><span>[manual trigger]</span></h1>
      <form autocomplete="off" action="<%= authServerUrl %>" method="post">
        <label>Client Id</label>
        <input required name="client_id" value="<%= clientId %>" />
        <label>Client Secret</label>
        <input required name="client_secret" value="<%= clientSecret %>" />
        <label>Grant Type</label>
        <input required name="grant_type" value="<%= grantType %>" />
        <label>Code</label>
        <input required name="code" value="<%= code %>" />
        <label>Redirect URI</label>
        <input required name="redirect_uri" value="<%= callbackUrl %>" />
        <label>Code Verifier</label>
        <input id="codeVerifierInput" required name="code_verifier" />
        <label>Code Challenge Method</label>
        <input required name="code_challenge_method" value="<%= codeChallengeMethod %>" />

        <button type="submit" class="login login-submit">Issue Token</button>
      </form>
      <form action="/">
        <button type="submit" class="home home-button">Back to Home</button>
      </form>
    </div>
  </body>
  <script>
    ;(async function () {
      console.log("<%= code %>")
      console.log(window.sessionStorage.getItem('codeVerifier'))
      document.getElementById('codeVerifierInput').value = window.sessionStorage.getItem('codeVerifier')
    })()
  </script>
</html>
